<ion-header>
  <ion-toolbar>
    <ion-title>Conversor de Moedas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input [(ngModel)]="amount" type="number" placeholder="Digite o valor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>De</ion-label>
    <ion-select [(ngModel)]="baseCurrency">
      <ion-select-option value="BRL">Real</ion-select-option>
      <ion-select-option value="EUR">Euro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Para</ion-label>
    <ion-select [(ngModel)]="targetCurrency">
      <ion-select-option value="USD">Dólar</ion-select-option>
      <ion-select-option value="EUR">Euro</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="full" (click)="convert()">Converter</ion-button>

  <div *ngIf="convertedValue">
    <h2>Valor convertido: {{ convertedValue }}</h2>
  </div>
</ion-content>
